{% extends "/pages/base/base.twig" %}

{% set banner = '/a/img/s-projects/industries/health-care/health-care.jpg' %}
{% set slag = 'health-care' %}
{% set tid = '41' %}
{% set title = 'Здравоохранение<span class="hidden-md-down"> и&nbsp;фармацевтика</span>' %}

{% set
  client01 = {
    link: '/ru/news/2014/12-22.htm',
    title: 'Юбилейная конференция госпиталя Бурденко',
    name: 'Гсп. Бурденко',
    alt: 'Event-менеджмент конференции госпиталя Бурденко',
    thumbnail: '/a/img/s-projects/industries/health-care/case-studies/burdenko-2014-12-22.jpg'
  }
%}

{% set
  client02 = {
    link: '/ru/news/2016/12-26.htm',
    title: 'II Конгресс военных анестезиологов-реаниматологов',
    name: 'Военные медики',
    alt: 'Event-менеджмент конгресса военных медиков',
    thumbnail: '/a/img/s-projects/industries/health-care/case-studies/military-medic-2016-12-26.jpg'
  }
%}

{% block body %}
<body class="section-projects has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">{{ title }}</h1>
      <span class="page-header-icon" aria-hidden="true"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="{{ banner }}" alt="PR-проекты для медицинских учреждений и&nbsp;фармацевтических компаний">
    </figure>

    {# Main row #}
    <div class="row has-sidebar-and-breadcrumb">

      <nav class="breadcrumb base">
        <a class="breadcrumb-item home" href="/">Главная</a>
        <a class="breadcrumb-item" href="/ru/projects">Проекты</a>
        <a class="breadcrumb-item" href="/ru/projects/industries">Наш опыт по&nbsp;отраслям</a>
        <span class="breadcrumb-item">{{ title }}</span>
      </nav>

      {# Main content #}
      <div class="main-content second">
        <p class="lead">Мы&nbsp;работаем со&nbsp;всеми ее&nbsp;сегментами медицинской отрасли. В&nbsp;нашем портфолио есть кейсы продвижения отдельных препаратов и&nbsp;услуг, исследования потребительского спроса, экспертные опросы, коммуникационные стратегии, масштабные отраслевые мероприятия, где мы&nbsp;обеспечиваем полный цикл работ, включая работу со&nbsp;спикерами и&nbsp;делегатами, техническое обеспечение, логистику, PR, привлечение спонсоров.</p>
        <p>Консалтинговая группа «Полилог» познакомилась с&nbsp;отраслью здравоохранения в&nbsp;2006&nbsp;году, когда начала заниматься комплексным PR-сопровождением компании Philips Healthcare. В&nbsp;2012 году Полилог впервые выступил организатором медицинского мероприятия&nbsp;— второго Международного конгресса травматологов совместно с&nbsp;РНИМУ им. Н.И. Пирогова. Среди наших клиентов есть профессиональные ассоциации, международные и&nbsp;российские фармацевтические компании, разработчики медицинского оборудования и&nbsp;технологий, медицинские центры и&nbsp;клиники.</p>
        <p>Благодаря наличию кросс-отраслевого опыта, мы&nbsp;понимаем не&nbsp;только отраслевую специфику, но&nbsp;и&nbsp;находим возможности для интеграции в&nbsp;смежные отрасли. В&nbsp;рамках организации мероприятий мы&nbsp;не&nbsp;ограничиваемся только научной повесткой, а&nbsp;всегда прорабатываем институциональную поддержку со&nbsp;стороны органов власти и&nbsp;отраслевых промышленных ассоциаций. Наши мероприятия регулярно включаются в&nbsp;план научных мероприятий Минздрава России и&nbsp;программу непрерывного медицинского образования.</p>
        <p>Собственные наработанные базы и&nbsp;партнерство с&nbsp;крупными рыночными игроками дают нам возможность в&nbsp;рамках каждого проекта создать портрет целевой аудитории и&nbsp;выстроить системную работу по&nbsp;ее&nbsp;привлечению. В&nbsp;номенклатуру наших услуг входит также менеджмент ассоциаций, делегат-менеджмент и&nbsp;комплексная PR-поддержка. Мы&nbsp;четко понимаем, как работать с&nbsp;отраслевыми научными изданиями, и&nbsp;lifestyle-журналами, освещающими темы красоты и&nbsp;здоровья.</p>
        <p>Сфера здравоохранения динамично развивается. Постоянно расширяется перечень высокотехнологичной медицинской продукции и&nbsp;услуг. Растут объемы финансирования медицинской помощи, реализуются национальные проекты и&nbsp;целевые программы в&nbsp;сфере здравоохранения, активно развивается рынок платных медицинских услуг. При этом остаются незыблемыми этические основы коммуникации, защита прав потребителей на&nbsp;достоверную информацию.</p>
        <p>Наше конкурентное преимущество заключается не&nbsp;только в&nbsp;понимании последних тенденций, но&nbsp;и&nbsp;в&nbsp;эффективной системе управления. В&nbsp;отрасли, работающей со&nbsp;здоровьем человека, влияние слов и&nbsp;действий на&nbsp;репутацию в&nbsp;разы выше. Мы&nbsp;единственная PR-компания на&nbsp;российском рынке, внедрившая и&nbsp;поддерживающая систему менеджмента качества на&nbsp;основе стандарта ISO 9001:2008. Это позволяет нам выстаивать процессы коммуникации без сбоев и&nbsp;добиваться для своих клиентов выдающихся результатов. <br class="br-lg-up"><br class="br-lg-up">
        <a class="link forward" href="/ru/projects?services={{ tid }}">См. примеры работ</a></p>
      </div>{# / main content #}

      {# Sidebar #}
      <div class="sidebar has-projects">

        {# The 1st client #}
        <a class="project" href="{{ client01.link }}">
          <img src="{{ client01.thumbnail }}" alt="{{ client01.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client01.name }}">{{ client01.name }}</h3>
            <h2 class="project-headline">{{ client01.title }}</h2>
          </div>
        </a>{# / the 1st client #}

        <a class="project hidden-xs-down" href="{{ client02.link }}">
          <img src="{{ client02.thumbnail }}" alt="{{ client02.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client02.name }}">{{ client02.name }}</h3>
            <h2 class="project-headline">{{ client02.title }}</h2>
          </div>
        </a>{# / the 2nd client #}

      </div>{# / sidebar #}
    </div>{# / row #}

  </article>
</main>

{% endblock %}{# / block content #}
