{% extends "/pages/base/base.twig" %}

{# eyebrow: Featured Project | Новый проект #}
{# alignment: 'jumbotron-inner' | 'jumbotron-inner jumbotron-inner-left' | 'jumbotron-inner jumbotron-inner-right', #}
{# ⚠️ lead should be .jumbotron-summary in order to add chevron #}
{% set featured = {
  link: 'https://club.eoforum.ru/#rec177452345',
  blank: true,
  eyebrow: 'Новый проект',
  headline: '<b>Онлайн-клуб ЕОФ&nbsp;—</b> сообщество профессионалов',
  lead: 'Объединиеяет более 13&nbsp;000&nbsp;врачей, ученых, инженеров и&nbsp;представителей бизнеса из&nbsp;70&nbsp;стран.<span class="hidden-sm-down"><br><br>Отвечая на&nbsp;запрос времени, мы&nbsp;развиваем цифровую платформу для поддержания международного сотрудничества в&nbsp;области травматологии, ортопедии и&nbsp;смежных специальностях.</span>',
  title: 'Онлайн-клуб ЕОФ',
  alignment: 'jumbotron-inner jumbotron-inner-left',
  manager: 'руководитель проекта Андрей Макеев',

} %}

{% block html_head_add_on %}
<!-- EXPAND IN STYLE ––––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="/sites/all/themes/polylog2017/src/css/head-styles-front.css">
<!-- / EXPAND IN STYLE ––––––––––––––––––––––––––––––––––––––––––––––––––––– -->
{% endblock %}

{% block body %}
<body class="page-front has-dark-jumbotron">
{% endblock %}

{% block content %}

<!--




CUT IN JUMBOTRON




-->
<div class="jumbotron layered">
  <figure class="jumbotron-hero" title="{{ featured.title }}">
    <figcaption class="jumbotron-wrapper">
      <div class="jumbotron-container">
        <div class="{{ featured.alignment }}">
          <a class="jumbotron-body has-xs-summary" href="{{ featured.link }}"{% if featured.blank %} target="_blank" rel="noopener noreferrer"{% endif %}>
            <!--noindex-->
            <span class="jumbotron-eyebrow ani-slide-down">{{ featured.eyebrow }}</span>
            <h1 class="jumbotron-headline ani-slide-down">{{ featured.headline }}</h1>
            <p class="jumbotron-summary ani-slide-down">{{ featured.lead }}</p>
            <!--/noindex-->
          </a>
        </div>
      </div>
    </figcaption>
    <img class="jumbotron__img" src="/a/img/polylog-promo/2020-eof-online/eof-logo.svg" alt="Логотип онлайн клуба EOF">
    <video class="jumbotron__video-bg" autoplay muted loop playsinline>
      <source src="/a/video/projects/2020/eof-online-header.mp4" type="video/mp4">
    </video>
  </figure>
</div>
{# <p class="jumbotron-byline lighter ani-slide-down"><b>Рассказывает</b> {{ featured.manager }}</p> #}
<!--




/ CUT IN JUMBOTRON




-->

{# -----------------------------------------------------------------------------
    BODY COPY
   -------------------------------------------------------------------------- #}

  <main class="container">
<!--




CUT IN BODY




-->
    {# USP & SERVICES #}
    <div class="row">

      {# USP #}
      <div class="col-lg-6">
        <div class="tile intro large group">

          {# <a class="tile-header js-mfp-video" href="https://www.youtube.com/watch?v=IwT4Cv9YIfM"> #}
          <a class="tile-header" href="/ru/services" title="На фото — генеральный директор компании, Олег Карпилов">
            <div class="tile-body">
              <h2 class="tile-headline">Вы&nbsp;хотите, чтобы вас знали  и&nbsp;уважали?</h2>
              <p class="tile-summary">Чтобы о&nbsp;вас писали и&nbsp;говорили? Чтобы рекомендовали? Сделаем.</p>
            </div>
            <p class="tile-footer">{#<span class="icon video" aria-hidden="true"></span>Видео#}Все услуги</p>
            <img class="tile-img" src="/a/img/people/oleg-on-front.png" alt="Олег Карпилов, генеральный директор PR-агентства «Полилог»">
            <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
          </a>

          {# Clients #}
          <div class="slider has-4-slides">

            <ul class="slider-inner" role="listbox" aria-label="Клиенты">

              {# Unesco, Philips, Beeline #}
              <li class="slider-item">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo unesco" title="ЮНЕСКО">ЮНЕСКО</span></li>
                  <li class="clients-item"><span class="clients-logo philips" title="Philips">Philips</span></li>
                  <li class="clients-item"><span class="clients-logo beeline" title="Билайн">Билайн</span></li>
                </ul>
              </li>

              {# Mitsubishi, Microsoft, Logitech #}
              <li class="slider-item second">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo mitsubishi" title="Mitsubishi Motors">Mitsubishi Motors</span></li>
                  <li class="clients-item"><span class="clients-logo microsoft" title="Microsoft">Microsoft</span></li>
                  <li class="clients-item"><span class="clients-logo logitech" title="Logitech">Logitech</span></li>
                </ul>
              </li>

              {# Sandoz, Scania, Samsung #}
              <li class="slider-item third">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo sandoz" title="Sandoz">Sandoz</span></li>
                  <li class="clients-item"><span class="clients-logo scania" title="Scania">Scania</span></li>
                  <li class="clients-item"><span class="clients-logo samsung" title="Samsung">Samsung</span></li>
                </ul>
              </li>

              {# Barbie, APEC, Ochakovo #}
              <li class="slider-item fourth">
                <ul class="clients">
                  <li class="clients-item"><span class="clients-logo barbie" title="Barbie">Barbie</span></li>
                  <li class="clients-item"><span class="clients-logo apec" title="Деловой саммит АТЭС 2012">Деловой саммит АТЭС 2012</span></li>
                  <li class="clients-item"><span class="clients-logo ochakovo" title="Очаково">Очаково</span></li>
                </ul>
              </li>

            </ul>{# clients list #}

            <a class="link forward" href="/ru/projects">Все клиенты</a>
          </div>{# / clients #}
        </div>{# / tile #}
      </div>{# / col: usp #}


      {# SERVICES #}
      <div class="col-lg-6 flex-lg-first">
        <div class="row">

         {# EVENT #}
          <div class="col-sm-6">
            <a class="tile event signage" href="/ru/services/event-management">
              <div class="tile-body">
                <h2 class="tile-headline services"><span class="icon event top"></span>Организация<br>
                мероприятий</h2>
                <h3 class="tile-subhead">съезды, выставки,<br>
                конференции, BTL</h3>
                <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
              </div>
            </a>
          </div>

          {# PR #}
          <div class="col-sm-6">
            <a class="tile pr signage" href="/ru/services/public-relations">
              <div class="tile-body">

                <h2 class="tile-headline services"><span class="icon pr top"></span>PR<br>
                (Public&nbsp;Relations)</h2>
                <h3 class="tile-subhead">традиционные СМИ,<br>
                новые медиа</h3>
                <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
              </div>
            </a>
          </div>

          {# FUNDRAISING #}
          <div class="col-sm-6">
            <a class="tile fundraising signage" href="/ru/services/fundraising">
              <div class="tile-body">
                <h2 class="tile-headline services"><span class="icon fundraising top"></span>Фандрайзинг</h2>
                <h3 class="tile-subhead">привлечение средств для&nbsp;финансирования<br>
                масштабных проектов</h3>
                <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
              </div>
            </a>
          </div>

          {# IT #}
          <div class="col-sm-6">
            <a class="tile rnd signage" href="http://it.polylog.ru" target="_blank" rel="noopener noreferrer">
              <div class="tile-body">
                <h2 class="tile-headline services"><span class="icon rnd top"></span>IT</h2>
                <h3 class="tile-subhead">цифровые<br>
                 решения</h3>
                <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
              </div>
            </a>
          </div>

        </div>{# / .row: services #}
      </div>{# / .col: services #}
    </div>{# / .row: usp + services #}

    {# FEATURED PROJECTS & BLOG #}
    <!--noindex-->
    <div class="row">

      {# FEATURED #}
      <div class="col-lg-6">

        {# Carousel #}
        <div class="carousel slide has-tile js-manual" id="projects" data-ride="carousel">

          {# Carousel viewport #}
          <div class="tile large group like-link carousel-inner" role="listbox">

            {# Buryatia #}
            <a class="tile-slide carousel-item active" href="/ru/projects/2020/vostochnyy-novyy-god-sagaalgan-gosudarstvennom-kremlevskom">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/buryatia/2020-04-24-featured-front.jpg')" role="img" aria-label="Рекорд игрушечных машинок Hot Wheels"></div>
              <h2 class="tile-headline">
                <b>Восточный Новый год «Сагаалган»</b> в&nbsp;Кремле
              </h2>
              <p class="tile-summary">Агентство «Полилог» обеспечило информационное сопровождение праздника и&nbsp;организовало пресс-тур в&nbsp;Бурятию.</p>
            </a>

            {# Milk #}
            <a class="tile-slide carousel-item" href="/ru/projects/2020/mezhdunarodnyy-agropromyshlennyy-molochnyy-forum">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/moscow-oblast/2020-02-06-milk-forum-featured.jpg')" role="img" aria-label="Рекорд игрушечных машинок Hot Wheels"></div>
              <h2 class="tile-headline">
                <b>VI&nbsp;Международный</b> агропромышленный молочный форум
              </h2>
              <p class="tile-summary">Агентство &laquo;Полилог&raquo; уже в&nbsp;четвертый раз организовало ключевое событие для российской молочной отрасли</p>
            </a>

            {# EOF #}
            <a class="tile-slide carousel-item" href="/ru/projects/2019/evraziyskiy-ortopedicheskiy-forum">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/polylog/2019-07-19-featured.jpg')" role="img" aria-label="Программа"></div>
              <h2 class="tile-headline"><b>Евразийский</b> ортопедический форум</h2>
              <p class="tile-summary">Наш собственный проект&nbsp;— крупнейший в&nbsp;Евразии форум по&nbsp;травматологии, ортопедии и&nbsp;экономике здравоохранения</p>
            </a>

            {# Oman: Invest in Duqm #}
            {# <a class="tile-slide carousel-item" href="/ru/projects/2019/mezhdunarodnyy-seminar-invest-duqm-russia">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/polylog/2020-01-23-featured.jpg')" role="img" aria-label="В форуме участвовали первые лица государства"></div>
              <h2 class="tile-headline">
                <b>Международный семинар</b><br>
                Invest in&nbsp;Duqm “Russia 2019”
              </h2>
              <p class="tile-summary">Подготовка и&nbsp;проведение визита делегации крупнейшая особой экономической зоны Ближнего востока.</p>
            </a> #}

            {# Russia is an Opportunities Country #}
            {# <a class="tile-slide carousel-item" href="/ru/projects/2018/forum-rossiya-strana-vozmozhnostey">
              <div class="tile-img top-fit in-large-tile" style="background-image: url('/a/img/clients/presidential-administration/2018-04-02-featured.jpg')" role="img" aria-label="В форуме участвовали первые лица государства"></div>
              <h2 class="tile-headline"><b>Форум</b> «Россия — страна возможностей»</h2>
              <p class="tile-summary">Комплексная информационная поддержка мероприятия, проведенного в&nbsp;марте <span class="nowrap">2018-го</span> на&nbsp;ВДНХ</p>
            </a> #}

          </div>{# / Carousel viewport #}

          {# Prev / Next #}
          <a class="carousel-control left positive" href="#projects" data-slide="prev" role="button" aria-label="Назад"></a>
          <a class="carousel-footer" href="/ru/projects">Все кейсы</a>
          <a class="carousel-control right positive" href="#projects" data-slide="next" role="button" aria-label="Вперёд"></a>

        </div>{# / carousel #}
      </div>{# / col: featured #}

      {# BLOG+ #}
      <div class="col-lg-6">
        <div class="row">

          {# POLYCODE #}
          <div class="col-sm-6 col-lg-12">
            <a class="tile is-polycode poster wide" href="http://it.polylog.ru/polycode" target="_blank" rel="noopener noreferrer">
              <div class="tile-body">
                <h2 class="tile-headline">POLYCODE</h2>
                <p class="tile-subhead">
                  Платформа, объединяющая возможности
                  <span class="d-lg-none"> органайзеров, ERP, CRM и&nbsp;BPM</span>
                  <span class="d-none d-lg-block"> task-менеджеров, ERP-, CRM- и&nbsp;BPM-систем</span>
                </p>
                {# <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg> #}
              </div>
              <figure class="tile__figure">
                <img class="tile-img" src="/a/img/p-front/card/polycode.svg" alt="POLYCODE">
              </figure>
            </a>
          </div>

          {# FOCUS / PR HELP #}
          <div class="col-sm-6 hidden-md-down">
            <a class="tile focus poster" href="/ru/pr-blog/help">
              <div class="tile-body">
                <h2 class="tile-headline">Энциклопедия PR</h2>
                <h3 class="tile-subhead">От «Антикризисных коммуникаций» до&nbsp;«Яндекс.Аудиторий»</h3>
              </div>
              <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
            </a>
          </div>

          {# BLOG #}
          <div class="col-sm-6">

            <!-- <?php print views_embed_view('blog', $display_id = 'link_on_front'); ?> -->
            <a class="tile blog poster" href="/ru/pr-blog/2018/avtobany-neon-kalkulyatory">
              <div class="tile-body">
                <h2 class="tile-headline">
                  В блоге
                </h2>
                <h3 class="tile-subhead">Автобаны, неон и калькуляторы</h3>
              </div>
              <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward"></use></svg>
            </a>
          </div>

        </div>{# / row #}
      </div>{# / col: blog+ #}
    </div>{# / row: featured + blog #}

    {# PROMO, JOBS AND MANAGEMENT #}
    <div class="row">

      {# POLYLOG PROMO #}
      {% include "/components/card/polylog-promo/2020-eof-online/front-tile-02.twig" %}

      {# JOBS #}
      <div class="col-sm-6 col-lg-3 flex-lg-first hidden-xs-down">
        <a class="tile jobs poster" href="/ru/careers/jobs">
          <div class="tile-body">
            <h2 class="tile-headline">Работа <span class="hidden-xl-down">в&nbsp;«Полилоге»</span></h2>
            <p class="tile-summary">Нам требуются<br>
            талантливые пиарщики, маркетологи, event- и&nbsp;IT-специалисты. Приходите</p>
          </div>
          <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
        </a>
      </div>

      {# MANAGEMENT #}
      <div class="col-sm-6 col-lg-3">
        <a class="tile management poster" href="/ru/company/management">
          <h2 class="tile-headline">Команда</h2>
          <img class="tile-img" src="/a/img/people/max.png" alt="Максим Сучков, бизнес-директор PR-агентства «Полилог»">
          <svg class="icon forward" aria-hidden="true"><use xlink:href="#icon-forward" /></svg>
        </a>
      </div>

    </div>{# / row: promo, jobs, management #}
    <!--/noindex-->
<!--




/ CUT IN BODY




-->
  </main>{# / page-content #}

{% endblock %}{# / block content #}
