{% extends "/pages/base/base.twig" %}

{% set banner = '/a/img/s-projects/industries/finance/finance.jpg' %}
{% set slag = 'finance' %}
{% set tid = '200' %}
{% set title = 'Финансы<span class="hidden-xs-down"> и&nbsp;страхование</span>' %}

{% set
  client01 = {
    link: '/ru/news/2017/01-12-sberbank.htm',
    title: 'Крупнейшее <span class="nowrap">IT-мероприятие</span> СберТеха в&nbsp;Иннополисе',
    name: 'Сбербанк',
    alt: 'Мероприятие для Сбербанка / СберТеха',
    thumbnail: '/a/img/s-projects/industries/finance/case-studies/sberbank-2017-01-12.jpg'
  }
%}

{% set
  client02 = {
    link: '/ru/news/2016/12-29.htm',
    title: 'PR-кампания<br>«Премии развития» Внешэкономбанка',
    name: 'ВЭБ',
    alt: 'PR-услуги для Внешэкономбанка',
    thumbnail: '/a/img/s-projects/industries/finance/case-studies/veb-2016-12-29.jpg'
  }
%}

{% block body %}
<body class="section-projects has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">{{ title }}</h1>
      <span class="page-header-icon" aria-hidden="true"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="{{ banner }}" alt="PR-проекты для банков и страховых компаний">
    </figure>

    {# Main row #}
    <div class="row has-sidebar-and-breadcrumb">

      <nav class="breadcrumb base">
        <a class="breadcrumb-item home" href="/">Главная</a>
        <a class="breadcrumb-item" href="/ru/projects">Проекты</a>
        <a class="breadcrumb-item" href="/ru/projects/industries">Наш опыт по&nbsp;отраслям</a>
        <span class="breadcrumb-item">{{ title }}</span>
      </nav>

      {# Main content #}
      <div class="main-content second">
        <p class="lead">Игроки финансового и&nbsp;страхового секторов экономики представляют собой специфичный рынок с&nbsp;особыми требованиями к&nbsp;формированию имиджа. Репутация формирует основной критерий выбора клиентов в&nbsp;пользу компаний&nbsp;— игроков финансового рынка, а&nbsp;также их&nbsp;лояльности. Заботясь о&nbsp;репутации своих клиентов финансового сектора с&nbsp;2003&nbsp;года, мы&nbsp;выработали набор инструментов, способных обеспечить правильное позиционирование вашего бренда в&nbsp;информационном поле.</p>
        <p>Первым клиентом из&nbsp;этой отрасли стала крупнейшая компания федерального уровня РОСНО, занимающая лидирующее положение на&nbsp;рынке медицинского страхования страны. К&nbsp;нашему проектному портфелю относится выпуск корпоративных клиентских журналов, организация пресс-туров и&nbsp;пресс-конференций, разработка и&nbsp;реализация комплексных коммуникационных стратегий в&nbsp;режиме абонентского обслуживания. У&nbsp;нас также есть опыт проведения форумов и&nbsp;конференций для привлечения инвестиций, организации и&nbsp;пресс-поддержки мероприятий по&nbsp;выводу новых финансовых и&nbsp;страховых продуктов на&nbsp;рынок. С&nbsp;начала работы КГ&nbsp;«Полилог» с&nbsp;финансовым сектором мы&nbsp;наработали базу статусных клиентов, к&nbsp;которым относятся такие компании как Банк Восточный, Банк «Уралсиб», КБ&nbsp;«Московский Капитал», Ингосстрах, BSGV, UFXMarkets и&nbsp;многие другие.</p>
        <p>Финансы&nbsp;— базовая отрасль экономики, на&nbsp;которой строится работа всей экономической системы. Для работы с&nbsp;информационным пространством вокруг игроков финансового и&nbsp;страхового рынков используется отдельный пласт СМИ и&nbsp;журналистов. Нас отличают отработанные отношения со&nbsp;всеми видами СМИ, а&nbsp;также релевантный опыт работы не&nbsp;только на&nbsp;федеральном, но&nbsp;и&nbsp;на&nbsp;региональном уровне, что сейчас встречается довольно редко среди PR-агентств. Беспрерывная работа с&nbsp;рынком финансовых и&nbsp;страховых услуг обеспечила нас актуальной базой федеральных и&nbsp;региональных СМИ, к&nbsp;которым относятся как специализированные финансовые, банковские, страховые издания, так и&nbsp;общие деловые СМИ.</p>
        <p>За&nbsp;счет активной интеграции информационных технологий в&nbsp;финансовый сектор происходит оцифровывание рынка: компании уходят в&nbsp;онлайн-пространство, поставляют услуги в&nbsp;электронном виде, занимаются разработкой и&nbsp;внедрением IT-решений. Основой конкурентоспособности игроков финансового рынка становится понимание и&nbsp;соответствие последним тенденциям мира информационных технологий, что непосредственно влияет на&nbsp;нашу работу с&nbsp;медиа. Помимо стандартной тематики волатильности курса валют, запросов на&nbsp;комментарии и&nbsp;прогнозы развития экономики от&nbsp;корпоративных экспертов, присутствие компаний сейчас особенно интересно IT-изданиям, где конкурентное преимущество обеспечивает наш опыт работы со&nbsp;сферой информационно-коммуникационных технологий.</p>
        <p>Работая с&nbsp;КГ&nbsp;«Полилог», вы&nbsp;не&nbsp;просто увеличите количество упоминаний в&nbsp;СМИ. Колоссальный опыт работы, полное соответствие международным стандартам качества ISO, четкое понимание последних рыночных тенденций и&nbsp;актуальная база лояльных СМИ дает нам возможность выделить вас среди конкурентов и&nbsp;обеспечить непоколебимую репутацию среди партнеров и&nbsp;клиентов. <br class="br-lg-up"><br class="br-lg-up">
        <a class="link forward" href="/ru/projects?services={{ tid }}">См. примеры работ</a></p>
      </div>{# / main content #}

      {# Sidebar #}
      <div class="sidebar has-projects">

        {# The 1st client #}
        <a class="project" href="{{ client01.link }}">
          <img src="{{ client01.thumbnail }}" alt="{{ client01.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client01.name }}">{{ client01.name }}</h3>
            <h2 class="project-headline">{{ client01.title }}</h2>
          </div>
        </a>{# / the 1st client #}

        <a class="project hidden-xs-down" href="{{ client02.link }}">
          <img src="{{ client02.thumbnail }}" alt="{{ client02.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client02.name }}">{{ client02.name }}</h3>
            <h2 class="project-headline">{{ client02.title }}</h2>
          </div>
        </a>{# / the 2nd client #}

      </div>{# / sidebar #}
    </div>{# / row #}

  </article>
</main>

{% endblock %}{# / block content #}
