{% extends "/pages/base/base.twig" %}

{% set banner = '/a/img/s-projects/industries/beauty/beauty.jpg' %}
{% set slag = 'beauty' %}
{% set tid = '191' %}
{% set title = 'Красота и&nbsp;здоровье' %}

{% set
  client01 = {
    link: '/ru/news/2012/09-26.htm',
    title: 'Конкурс парикмахерского искусства по&nbsp;мотивам &laquo;Алисы в&nbsp;стране чудес&raquo;',
    name: 'Alessandro Group',
    alt: 'PR-услуги для Alessandro Group',
    thumbnail: '/a/img/s-projects/industries/beauty/case-studies/alessandro-2012-09-26.jpg'
  }
%}

{% set
  client02 = {
    link: '/ru/news/2010/05-31.htm',
    title: 'День красоты Skeyndor',
    name: 'Skeyndor',
    alt: 'Пиар-услуги для Skeyndor',
    thumbnail: '/a/img/s-projects/industries/beauty/case-studies/skeyndor-2010-05-31.jpg'
  }
%}

{% block body %}
<body class="section-projects has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">{{ title }}</h1>
      <span class="page-header-icon" role="presentation"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="{{ banner }}" alt="PR-проекты для индустрии красоты и здоровья">
    </figure>

    {# Main row #}
    <div class="row has-sidebar-and-breadcrumb">

      <nav class="breadcrumb base">
        <a class="breadcrumb-item home" href="/">Главная</a>
        <a class="breadcrumb-item" href="/ru/projects">Проекты</a>
        <a class="breadcrumb-item" href="/ru/projects/industries">Наш опыт по&nbsp;отраслям</a>
        <span class="breadcrumb-item">{{ title }}</span>
      </nav>

      {# Main content #}
      <div class="main-content second">
        <p class="lead">Работу с&nbsp;индустрией красоты и&nbsp;здоровья Консалтинговая группа «Полилог» начала в&nbsp;2008 году в&nbsp;рамках сотрудничества с&nbsp;Schwarzkopf&amp;Henkel, когда мы&nbsp;организовали презентации новых продуктов и&nbsp;другие пресс-мероприятия для компании. К&nbsp;пулу наших клиентов также относятся производители профессиональных средств по&nbsp;уходу за&nbsp;кожей, сети салонов красоты. Потребителями наших услуг являются компании сектора FMCG, производители косметики и&nbsp;космецевтики, фармпрепаратов, мезопрепаратов, БАДов и&nbsp;оборудования, клиники красоты и&nbsp;здоровья, салоны красоты, а&nbsp;также ассоциации и&nbsp;профессиональные сообщества.</p>
        <p>Полилог является опытным игроком на&nbsp;рынке коммуникаций в&nbsp;beauty-индустрии. Нашим конкурентным преимуществом стало не&nbsp;только богатое кросс-отраслевое портфолио, которое дает нам видение возможностей для интеграции в&nbsp;смежные отрасли, но&nbsp;и&nbsp;система управления, соответствующая международным стандартам ISO 9001:2008.</p>
        <p>Мы&nbsp;предлагаем нашим клиентам полный спектр услуг в&nbsp;области коммуникаций: организацию клиентских и&nbsp;пресс-мероприятий, вывод на&nbsp;рынок и&nbsp;PR-сопровождение бренда и&nbsp;продукции, работу с&nbsp;бренд-амбассадорами, менеджмент ассоциаций, организацию B2B-мероприятий, а&nbsp;также фандрайзинговые решения и&nbsp;спонсорские интеграции. <br class="br-lg-up"><br class="br-lg-up">
        <a class="link forward" href="/ru/projects?services={{ tid }}">См. примеры работ</a></p>
      </div>{# / main content #}

      {# Sidebar #}
      <div class="sidebar has-projects">

        {# The 1st client #}
        <a class="project" href="{{ client01.link }}">
          <img src="{{ client01.thumbnail }}" alt="{{ client01.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client01.name }}">{{ client01.name }}</h3>
            <h2 class="project-headline">{{ client01.title }}</h2>
          </div>
        </a>{# / the 1st client #}

        <a class="project hidden-xs-down" href="{{ client02.link }}">
          <img src="{{ client02.thumbnail }}" alt="{{ client02.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client02.name }}">{{ client02.name }}</h3>
            <h2 class="project-headline">{{ client02.title }}</h2>
          </div>
        </a>{# / the 2nd client #}

      </div>{# / sidebar #}
    </div>{# / row #}

  </article>
</main>

{% endblock %}{# / block content #}
