{% extends "/pages/base/base.twig" %}

{% set banner = '/a/img/s-projects/industries/power-municipal-engineering/power-municipal-engineering.jpg' %}
{% set slag = 'power-municipal-engineering' %}
{% set tid = '198' %}
{% set title = 'ТЭК и&nbsp;ЖКХ' %}

{% set
  client01 = {
    link: '/ru/news/2013/12-08.htm',
    title: 'REMIC-2013 — конференция по заказу «Газпрома»',
    name: 'Газпром',
    alt: 'Event-менеджмент для Газпрома',
    thumbnail: '/a/img/s-projects/industries/power-municipal-engineering/case-studies/gazprom-2013-12-08.jpg'
  }
%}

{% set
  client02 = {
    link: '/ru/news/2017/01-12.htm',
    title: '«Малая Нобелевская Премия Республики Коми» — социальный проект «Нобель Ойл»',
    name: 'Нобель Ойл',
    alt: 'PR-услуги для «Нобель Ойл»',
    thumbnail: '/a/img/s-projects/industries/power-municipal-engineering/case-studies/nobel-2017-01-11.jpg'
  }
%}

{% block body %}
<body class="section-projects has-page-header has-article-banner">
{% endblock %}

{% block content %}

<main class="container">

  <article class="article">

    {# Page header #}
    <div class="page-header">
      <h1 class="page-header-headline">{{ title }}</h1>
      <span class="page-header-icon" role="presentation"></span>
    </div>{# / page header #}

    <figure class="page-header-banner">
      <img src="{{ banner }}" alt="PR-проекты для энергетических компаний и жилищно-коммунального комплекса">
    </figure>

    {# Main row #}
    <div class="row has-sidebar-and-breadcrumb">

      <nav class="breadcrumb base">
        <a class="breadcrumb-item home" href="/">Главная</a>
        <a class="breadcrumb-item" href="/ru/projects">Проекты</a>
        <a class="breadcrumb-item" href="/ru/projects/industries">Наш опыт по&nbsp;отраслям</a>
        <span class="breadcrumb-item">{{ title }}</span>
      </nav>
<!--




CUT IN BODY




-->
      {# Main content #}
      <div class="main-content second">
        <p class="lead">Консалтинговая группа «Полилог» имеет диверсифицированный портфель клиентов, оперирующих на&nbsp;рынках ТЭК и&nbsp;ЖКХ. Один из&nbsp;первых крупных контрактов&nbsp;— контракт с&nbsp;РАО ЕЭС России на&nbsp;информационно-аналитическое сопровождение реформы электроэнергетики до&nbsp;принятия пакета реформы&nbsp;— КГ&nbsp;«Полилог» получила еще в&nbsp;2000&nbsp;году.</p>
        <p>Отраслевыми клиентами являются государственные и&nbsp;частные корпорации, а&nbsp;также компании, обслуживающие основной бизнес. Мы&nbsp;реализовали значимые проекты для ФСК ЕЭС, ГидроОГК (Русгидро), ИнтерРАО, компаний Роснефть, Росатом, Атомэнергосбыт, Лукойл, Рязанской ГРЭС, Сангтудинской ГЭС. В&nbsp;2016 году специалисты Полилога разработали коммуникационную стратегию для Росводоканала.</p>
        <p>В&nbsp;наши компетенции входит комплекс услуг по&nbsp;мониторингу и&nbsp;аналитике, организация деловых мероприятий по&nbsp;всей стране и&nbsp;за&nbsp;границей, построение механизмов внутрикорпоративных коммуникаций, разработка и&nbsp;реализация внешних коммуникационных стратегий.</p>
        <p>Мы&nbsp;разбираемся в&nbsp;специфике отрасли, понимаем значимость социальной составляющей в&nbsp;бизнесе, умеем оптимизировать процесс коммуникации с&nbsp;физическими лицами&nbsp;— клиентами организаций ТЭК и&nbsp;ЖКХ. Агентство «Полилог» адаптивно подстраивается под динамично развивающуюся отрасль, отвечая последним рыночным потребностям. Мы&nbsp;знаем, как выстроить коммуникации в&nbsp;контексте вызовов проблем устойчивого развития и&nbsp;экологии. Поскольку компании несут большие издержки и&nbsp;риски, связанные с&nbsp;коммуникацией с&nbsp;властями, КГ&nbsp;«Полилог» также создает стратегии GR-коммуникаций, осуществляет разработку репутационных программ.</p>
        <p>Консалтинговая группа «Полилог» предлагает своим клиентам эффективную систему менеджмента качества, соответствующую международным стандартам, а&nbsp;также релевантный опыт работы как с&nbsp;отраслевой спецификой ТЭК и&nbsp;ЖКХ, так и&nbsp;со&nbsp;смежными отраслями, которые позволяют адаптировать бизнес-модели под особенности ТЭК и&nbsp;ЖКХ. <br class="br-lg-up"><br class="br-lg-up">
        <a class="link forward" href="/ru/projects?services={{ tid }}">См. примеры работ</a></p>
      </div>{# / main content #}

      {# Sidebar #}
      <div class="sidebar has-projects">

        {# The 1st client #}
        <a class="project" href="{{ client01.link }}">
          <img src="{{ client01.thumbnail }}" alt="{{ client01.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client01.name }}">{{ client01.name }}</h3>
            <h2 class="project-headline">{{ client01.title }}</h2>
          </div>
        </a>{# / the 1st client #}

        <a class="project hidden-xs-down" href="{{ client02.link }}">
          <img src="{{ client02.thumbnail }}" alt="{{ client02.alt }}">
          <div class="project-caption">
            <h3 class="project-eyebrow" title="{{ client02.name }}">{{ client02.name }}</h3>
            <h2 class="project-headline">{{ client02.title }}</h2>
          </div>
        </a>{# / the 2nd client #}

      </div>{# / sidebar #}
<!--




/ CUT IN BODY




-->
    </div>{# / row #}

  </article>
</main>

{% endblock %}{# / block content #}
